.tournamentEditor label{
    color: white !important;
}


.tournamentEditor form{
    display: grid;
    width: 100%;
    grid-template-columns: 2fr 2fr 1fr;
    grid-gap: 30px;
}

.tournamentEditor .participants{
    width: 85vw;
    height: 61vh;
}

.tournamentEditor .participants .trash{
    margin-left: 15px;
}

.tournamentEditor footer{
    text-align: center;
}

.tournamentEditor{
    height: 60vh;
}

.tournamentEditor .table thead tr th{
    background-color: rgba(150,150,150,0.4);
}

.tournamentEditor .table .ant-table-tbody{
    background-color: rgba(222,222,222,0.6);
}

.tournamentEditor footer{
    position: relative;
}

.addTournament .ant-modal-footer button{
    display: none
}

.tournamentEditor .matches{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.tournamentEditor .matches .match{
    background-color: rgba(255, 255, 255, 0.4);
    text-align: center;
    min-height: 60px;
    display: table;
    border-radius: 20px;
}

.tournamentEditor .matches .match .ant-radio-group{
    display: table-cell;
    vertical-align: middle;
}

.tournamentEditor .matches .match .white{
    background-color: white !important;
    color: #372F2F !important;
    border: 1px solid #372F2F;
    margin: 4px;
}

.tournamentEditor .matches .match .black{
    background-color: #372F2F !important;
    color: white !important;
    margin: 4px;
}

.tournamentEditor .matches .match .gray{
    background-color: gray !important;
    color: black !important;
    margin: 4px;
}

.tournamentEditor .matches .match .ant-radio-button-wrapper-checked{
    background-color: #1890ff !important;
    color: black !important;
}

.tournamentEditor .right{
    float: right;
}

.tournamentEditor .left{
    float: left;
}

.tournamentEditor .backArrow:hover{
    cursor: pointer;
    background-color: lightblue;
    border-radius: 100%;
}

@media  (max-width: 1200px) {
    .tournamentEditor .matches{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media  (max-width: 850px) {
    .tournamentEditor .matches{
        grid-template-columns: 1fr 1fr;
    }
}

@media  (max-width: 768px) {
    .tournamentEditor .matches{
        grid-template-columns: 1fr;
    }
}