header {
    display: block;
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* overflow: auto; */
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 1;
  }
  .navChess{
    display: flex;
    justify-content: start;
  }

  .navChess div{
    margin: 10px;
  }

header .title{
  width: 100%;
  text-align: center;
}

  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .icono{
    width: 40px;
    height: 35px;

  }
  
  .modalNav .ant-modal-footer{
    display: none;
  }

  li a:hover {
    background-color: #111;
  }

  .right{
    float: right;
  }

  .left{
    float: left;
  }

  p.logout:hover{
    background-color: lightgray;
  }

  /* .mobile li[role="menuitem"]:hover{
    background-color: #1890ff;
    color:white;
  } */
  .mobile li[role="menuitem"]{
      text-align: center;
  }
